@model DonationPortal.Web.ViewModels.Social.SocialViewModel
@using DonationPortal.Engine.Helpers;
@using DonationPortal.Engine.Social
@{
    ViewBag.Title = string.Format("Social Dashboard {0} {1}", Model.EventName, Model.RiderName);
}
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
        <div id="main" role="main">
            <!-- main starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

            <div class="stacked-container social-dashboard" id="skipToContent" role="region">
                <!-- stacked-container starts   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class="container">

                    <!--<nav class="social-nav">-->
                        <!-- t2-navigation -->
                       <!-- <strong>Filter:</strong>
                        <ul>-->
                            <!--<li class="active"><a href="#" data-filter="*">See All</a></li>-->
                            <!--<li class="facebook"><a href="#" data-filter=".social-facebook" title="facebook"><span class="social-icon fa fa-facebook"></span></a></li>-->
                            <!--<li class="twitter active"><a href="#" data-filter=".social-twitter" title="twitter"><span class="social-icon fa fa-twitter"></span></a></li>-->
                            <!--<li class="youtube"><a href="#" data-filter=".social-youtube" title="youtube"><span class="social-icon fa fa-youtube"></span></a></li>-->
                       <!-- </ul>-->
                        <!-- /t2-navigation -->
                    <!--</nav>-->

                    <div id="social-stream" class="loading">
                        <!-- social-stream -->
                        <section class="stream">

                            <div class="grid-sizer"></div>
                            @foreach (SocialFeedItem item in Model.Items)
                            {
                                if(item.Type == SocialFeedItem.SocialType.Twitter)
                                {
                                    Html.RenderPartial("SocialItem", item);
                                }
                               
                            }

                        </section>

                        <!-- /social-stream -->
                    </div>

                </div>
                <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            </div>

            <!-- main ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        </div>
