@model dynamic
           
@{ Layout = null;}

<footer class="footer-container" role="contentinfo">
    <!-- footer-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>3000 Miles to a Cure</h2>
                <p>&copy; 2015 3000 Miles to a Cure is 501(c)(3)<br> Visit us at <a href="#">3000milestoacure.com</a> to learn more about our organization</p>
            </div>
            <div class="col-sm-6">
                <ul class="footer-links">
                    <li><a href="#" class="btn btn-primary">Donate Now</a></li>
                    <li class="social-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-link"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-link"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</footer>
