@model dynamic

@{ Layout = null;}

<footer class="footer-container" role="contentinfo">
    <!-- footer-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>3000 Miles to a Cure</h2>
                <p>Our mission is to end brain cancer by raising funds for research, extending an open invitation to unite in hope and action for the cure. Visit us at <a href="#">3000milestoacure.com</a> to learn more about our organization. 3000 Miles to a Cure is a 501(c)(3) (c)2014</p>
                <p>&copy; 2015 3000 Miles to a Cure</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li><a href="#" class="btn btn-lg btn-tertiary">Donate Now</a></li>
                        <li class="social-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-link"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-link"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</footer>
