@model DonationPortal.Web.ViewModels.Template.HeaderViewModel

@{ Layout = null;}

<header class="header-container" role="banner">
    <!-- header-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
        <figure class="logo">
            <div>@Model.FeaturedEventTitle</div>
            <div class="tagline">3000 Miles to a Cure</div>
        </figure>
        <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav"><span class="fa fa-bars"><span class="sr-only">Toggle navigation</span></span></a>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <nav class="global-nav-container" role="navigation">
                <!-- global-nav-container starts -->
                <ul>
                    <li>Unite. Share. Inspire</li>
                    <li class="social-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-link"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-link"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                <!-- /global-nav-container ends -->
            </nav>
            <nav class="t1-nav-container" role="navigation">
                <!-- t1-nav-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <ul class="t1-nav">
                    @foreach (var rider in Model.Riders)
                    {
                        <li><a href="@rider.Url">@rider.Name</a></li>
                    }
                    <li class="callout"><a href="#">Donate</a></li>
                </ul>
                <!-- t1-nav-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            </nav>
        </div>
    </div>
    <!-- header-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</header>