@model DonationPortal.Web.ViewModels.Template.HeaderViewModel

@{ Layout = null;}

<header class="header-container" role="banner">
    <!-- header-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-5 col-md-5">
                <figure class="logo">
                    <a href="/">
                        <img class="img-responsive" src="/ui/images/logo-3kforcure.png" alt="3000 Miles For A Cure" />
                    </a>
                </figure>
            </div>
        </div>
        <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav"><span class="fa fa-bars"><span class="sr-only">Toggle navigation</span></span></a>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <nav class="global-nav-container" role="navigation">
                <!-- global-nav-container starts -->
                <ul>
                    <li><a target="_blank" href="https://twitter.com/search?q=%23JOINTHEBRAINSTORM">#JOINTHEBRAINSTORM</a></li>
                    <li class="social-link"><a target="_blank" href="http://www.facebook.com/3ktoacure"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-link"><a target="_blank" href="http://www.twitter.com/3000toacure"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-link"><a target="_blank" href="http://youtube.com/user/3000milestoacure"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                <!-- /global-nav-container ends -->
            </nav>
            <nav class="t1-nav-container" role="navigation">
                <!-- t1-nav-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <ul class="t1-nav">
                    @foreach (var rider in Model.Riders)
                    {
                        <li><a href="@rider.Url">@rider.Name</a></li>
                    }
                    <li class="callout">@Html.ActionLink("Donate", "Index", "Donation")</li>
                </ul>
                <!-- t1-nav-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            </nav>
        </div>
    </div>
    <!-- header-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</header>