@using DonationPortal.Web.Extensions
@using DonationPortal.Web.ViewModels.Donation
@model DonationPortal.Web.ViewModels.Donation.DonationViewModel

@{
    ViewBag.Title = "Donate";
}

<div id="main" role="main">
    <!-- main starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <section class="stacked-container" id="skipToContent" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Donate</h1>
                    <h2>100% OF YOUR GIFT FUNDS BRAIN CANCER RESEARCH.</h2>
                    <p>We choose to deliver 100% of individual donations to brain cancer research. This 100% promise is made possible through strategic partnerships with entities who support the mission of 3000 Miles to a Cure. These partners deliver in-kind donations and fund specific needs within 3000 Miles to a Cure's operational budget including advertising, administrative costs, event hosting costs and transaction fees.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                <div class="alert alert-success">Thank you for your donation!</div>
       </div>
      </div>
            </div>
        </section>