@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0K-y2C9IH2lUf6_kOt8Dvd9TOlZq7sqk">
    </script>
    <script type="text/javascript" src="/ui/js/cSnapToRoute.js">
    </script>
    <script src="/ui/js/geoxml3.js"></script>
    <script type="text/javascript">

        var map, line, marker;

        function initialize() {

            var mapOptions = {
                center: { lat: 27.453313, lng: -81.35273 },
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            marker = new google.maps.Marker({
                position: { lat: 27.45093, lng: -81.359746 },
                map: map,
                draggable: true
            });

            var longRoutePath1 = [
                new google.maps.LatLng(27.45093, -81.359746),
                new google.maps.LatLng(27.450932, -81.36069500000001),
                new google.maps.LatLng(27.450307, -81.36121799999999),
                new google.maps.LatLng(27.449907, -81.36157700000001),
                new google.maps.LatLng(27.449648, -81.361901),
                new google.maps.LatLng(27.449223, -81.362369),
                new google.maps.LatLng(27.44897, -81.36268699999999),
                new google.maps.LatLng(27.448623, -81.363173),
                new google.maps.LatLng(27.448492, -81.363378),
                new google.maps.LatLng(27.448214, -81.36394900000001),
                new google.maps.LatLng(27.448041, -81.364372),
                new google.maps.LatLng(27.447816, -81.365009),
                new google.maps.LatLng(27.447716, -81.365377),
                new google.maps.LatLng(27.447615, -81.36586800000001),
                new google.maps.LatLng(27.44753400000001, -81.36656499999999),
                new google.maps.LatLng(27.447518, -81.367107),
                new google.maps.LatLng(27.44753, -81.367454),
                new google.maps.LatLng(27.447593, -81.36805200000001),
                new google.maps.LatLng(27.447728, -81.368791),
                new google.maps.LatLng(27.447917, -81.36954),
                new google.maps.LatLng(27.448116, -81.370187),
                new google.maps.LatLng(27.448247, -81.370531),
                new google.maps.LatLng(27.448494, -81.371042),
                new google.maps.LatLng(27.448679, -81.37133799999999),
                new google.maps.LatLng(27.449136, -81.371955),
                new google.maps.LatLng(27.454166, -81.378468),
                new google.maps.LatLng(27.45616800000001, -81.38109),
                new google.maps.LatLng(27.457132, -81.38232000000002),
                new google.maps.LatLng(27.464993, -81.392545),
                new google.maps.LatLng(27.465251, -81.392856),
                new google.maps.LatLng(27.47143000000001, -81.400882),
                new google.maps.LatLng(27.471847, -81.401365),
                new google.maps.LatLng(27.48452, -81.415594),
                new google.maps.LatLng(27.485058, -81.416224),
                new google.maps.LatLng(27.4855, -81.416709),
                new google.maps.LatLng(27.485732, -81.417095),
                new google.maps.LatLng(27.485855, -81.417489),
                new google.maps.LatLng(27.48588000000001, -81.41762300000001),
                new google.maps.LatLng(27.485896, -81.417908),
                new google.maps.LatLng(27.485801, -81.427899),
                new google.maps.LatLng(27.485786, -81.43288699999999),
                new google.maps.LatLng(27.485794, -81.43350100000001),
                new google.maps.LatLng(27.489464, -81.43346800000001),
                new google.maps.LatLng(27.489567, -81.433452),
                new google.maps.LatLng(27.489562, -81.433454),
                new google.maps.LatLng(27.491579, -81.433454),
                new google.maps.LatLng(27.493083, -81.433733),
                new google.maps.LatLng(27.494396, -81.43405400000002),
                new google.maps.LatLng(27.495672, -81.434505),
                new google.maps.LatLng(27.497099, -81.435041),
                new google.maps.LatLng(27.498679, -81.435599),
                new google.maps.LatLng(27.499669, -81.436458),
                new google.maps.LatLng(27.500278, -81.437209),
                new google.maps.LatLng(27.500754, -81.437724),
                new google.maps.LatLng(27.501001, -81.43856),
                new google.maps.LatLng(27.501287, -81.43933300000001),
                new google.maps.LatLng(27.501263, -81.439291),
                new google.maps.LatLng(27.50217, -81.43902300000001),
                new google.maps.LatLng(27.50371700000001, -81.43853),
                new google.maps.LatLng(27.503875, -81.438456),
                new google.maps.LatLng(27.505256, -81.43803800000002),
                new google.maps.LatLng(27.505649, -81.437974),
                new google.maps.LatLng(27.506397, -81.437985),
                new google.maps.LatLng(27.50683, -81.43803800000002),
                new google.maps.LatLng(27.506894, -81.437532),
                new google.maps.LatLng(27.506933, -81.437322),
                new google.maps.LatLng(27.507005, -81.43708),
                new google.maps.LatLng(27.507111, -81.43678199999999),
                new google.maps.LatLng(27.507209, -81.43656900000001),
                new google.maps.LatLng(27.50737700000001, -81.43632700000001),
                new google.maps.LatLng(27.507488, -81.436133),
                new google.maps.LatLng(27.507585, -81.43588699999999),
                new google.maps.LatLng(27.50761, -81.435704),
                new google.maps.LatLng(27.50762900000001, -81.433347),
                new google.maps.LatLng(27.519681, -81.433223),
                new google.maps.LatLng(27.522154, -81.433165),
                new google.maps.LatLng(27.522194, -81.43936100000001),
                new google.maps.LatLng(27.522228, -81.439538),
                new google.maps.LatLng(27.522288, -81.43972100000001),
                new google.maps.LatLng(27.523134, -81.44141000000001),
                new google.maps.LatLng(27.523213, -81.44162300000001),
                new google.maps.LatLng(27.523292, -81.44191600000001),
                new google.maps.LatLng(27.52336, -81.442427),
                new google.maps.LatLng(27.523625, -81.44544000000001),
                new google.maps.LatLng(27.523642, -81.445882),
                new google.maps.LatLng(27.523635, -81.446247),
                new google.maps.LatLng(27.5236, -81.446637),
                new google.maps.LatLng(27.523463, -81.447391),
                new google.maps.LatLng(27.523296, -81.44800200000002),
                new google.maps.LatLng(27.523054, -81.44863700000001),
                new google.maps.LatLng(27.522808, -81.44913800000001),
                new google.maps.LatLng(27.521845, -81.45076),
                new google.maps.LatLng(27.521601, -81.45123),
                new google.maps.LatLng(27.521245, -81.451975),
                new google.maps.LatLng(27.520918, -81.452534),
                new google.maps.LatLng(27.52197, -81.453367),
                new google.maps.LatLng(27.522037, -81.45345),
                new google.maps.LatLng(27.521353, -81.45345),
                new google.maps.LatLng(27.520893, -81.453498),
                new google.maps.LatLng(27.520467, -81.45359900000001),
                new google.maps.LatLng(27.519721, -81.453868),
                new google.maps.LatLng(27.519728, -81.453825),
                new google.maps.LatLng(27.5198, -81.453738),
                new google.maps.LatLng(27.520053, -81.45351700000001),
                new google.maps.LatLng(27.520352, -81.45322400000001),
                new google.maps.LatLng(27.520749, -81.452764),
                new google.maps.LatLng(27.520918, -81.452534),
                new google.maps.LatLng(27.521245, -81.451975),
                new google.maps.LatLng(27.521601, -81.45123),
                new google.maps.LatLng(27.521845, -81.45076),
                new google.maps.LatLng(27.522603, -81.449489),
                new google.maps.LatLng(27.522956, -81.448855),
                new google.maps.LatLng(27.523189, -81.448302),
                new google.maps.LatLng(27.523387, -81.44769700000002),
                new google.maps.LatLng(27.523463, -81.447391),
                new google.maps.LatLng(27.523563, -81.44687999999999),
                new google.maps.LatLng(27.5236, -81.446637),
                new google.maps.LatLng(27.523635, -81.446247),
                new google.maps.LatLng(27.523642, -81.445882),
                new google.maps.LatLng(27.523625, -81.44544000000001),
                new google.maps.LatLng(27.52336, -81.442427),
                new google.maps.LatLng(27.523292, -81.44191600000001),
                new google.maps.LatLng(27.523213, -81.44162300000001),
                new google.maps.LatLng(27.523134, -81.44141000000001),
                new google.maps.LatLng(27.522288, -81.43972100000001),
                new google.maps.LatLng(27.522205, -81.439437),
                new google.maps.LatLng(27.522187, -81.439238),
                new google.maps.LatLng(27.522095, -81.42350500000001),
                new google.maps.LatLng(27.521944, -81.403363),
                // start northern loop
                new google.maps.LatLng(27.521944, -81.403363),
                new google.maps.LatLng(27.531171, -81.40334100000001),
                new google.maps.LatLng(27.531175, -81.405239),
                new google.maps.LatLng(27.531197, -81.405311),
                new google.maps.LatLng(27.531282, -81.40534700000001),
                new google.maps.LatLng(27.543111, -81.405269),
                new google.maps.LatLng(27.559158, -81.40513900000001),
                new google.maps.LatLng(27.55917000000001, -81.413319),
                new google.maps.LatLng(27.573651, -81.413121),
                new google.maps.LatLng(27.573654, -81.41610300000001),
                new google.maps.LatLng(27.583984, -81.41600800000001),
                new google.maps.LatLng(27.587915, -81.415944),
                new google.maps.LatLng(27.589323, -81.41595100000001),
                new google.maps.LatLng(27.589766, -81.416039),
                new google.maps.LatLng(27.59009500000001, -81.416157),
                new google.maps.LatLng(27.59042, -81.41631099999999),
                new google.maps.LatLng(27.590699, -81.41649),
                new google.maps.LatLng(27.59088, -81.416629),
                new google.maps.LatLng(27.591145, -81.41687500000001),
                new google.maps.LatLng(27.591359, -81.417124),
                new google.maps.LatLng(27.591631, -81.41751000000001),
                new google.maps.LatLng(27.59245200000001, -81.418789),
                new google.maps.LatLng(27.592626, -81.41901799999999),
                new google.maps.LatLng(27.592816, -81.419223),
                new google.maps.LatLng(27.593111, -81.419482),
                new google.maps.LatLng(27.593399, -81.419681),
                new google.maps.LatLng(27.593692, -81.41984100000001),
                new google.maps.LatLng(27.594112, -81.420005),
                new google.maps.LatLng(27.594539, -81.420097),
                new google.maps.LatLng(27.59487, -81.420121),
                new google.maps.LatLng(27.602954, -81.42004799999999),
                new google.maps.LatLng(27.602953, -81.420024),
                new google.maps.LatLng(27.602954, -81.42004799999999),
                new google.maps.LatLng(27.62488, -81.419821),
                new google.maps.LatLng(27.624853, -81.41571500000001),
                new google.maps.LatLng(27.629054, -81.415694),
                new google.maps.LatLng(27.632108, -81.415648),
                new google.maps.LatLng(27.634588, -81.41564500000001),
                new google.maps.LatLng(27.634746, -81.415648),
                new google.maps.LatLng(27.634941, -81.415683),
                new google.maps.LatLng(27.63226, -81.41847199999999),
                new google.maps.LatLng(27.63227, -81.426095),
                new google.maps.LatLng(27.632245, -81.426366),
                new google.maps.LatLng(27.632198, -81.426605),
                new google.maps.LatLng(27.632053, -81.426986),
                new google.maps.LatLng(27.63160900000001, -81.427881),
                new google.maps.LatLng(27.626716, -81.43686200000001),
                new google.maps.LatLng(27.626619, -81.437084),
                new google.maps.LatLng(27.626567, -81.43732300000001),
                new google.maps.LatLng(27.626559, -81.43757700000001),
                new google.maps.LatLng(27.626665, -81.44006),
                new google.maps.LatLng(27.626677, -81.440226),
                new google.maps.LatLng(27.626719, -81.44041),
                new google.maps.LatLng(27.626766, -81.440535),
                new google.maps.LatLng(27.62696, -81.44092999999999),
                new google.maps.LatLng(27.628158, -81.442936),
                new google.maps.LatLng(27.62829500000001, -81.44322699999999),
                new google.maps.LatLng(27.628359, -81.44344),
                new google.maps.LatLng(27.628391, -81.443609),
                new google.maps.LatLng(27.628445, -81.460437),
                new google.maps.LatLng(27.62844, -81.460827),
                new google.maps.LatLng(27.628421, -81.46099200000001),
                new google.maps.LatLng(27.628355, -81.461257),
                new google.maps.LatLng(27.628303, -81.461377),
                new google.maps.LatLng(27.628216, -81.461535),
                new google.maps.LatLng(27.628045, -81.461758),
                new google.maps.LatLng(27.625177, -81.46497100000001),
                new google.maps.LatLng(27.62489, -81.465239),
                new google.maps.LatLng(27.624724, -81.46533200000002),
                new google.maps.LatLng(27.624607, -81.465361),
                new google.maps.LatLng(27.62423, -81.46537600000001),
                new google.maps.LatLng(27.617508, -81.46536500000001),
                new google.maps.LatLng(27.6175, -81.469488),
                new google.maps.LatLng(27.617493, -81.48180000000001),
                new google.maps.LatLng(27.617454, -81.485851),
                new google.maps.LatLng(27.617454, -81.48585300000001),
                new google.maps.LatLng(27.617459, -81.490055),
                new google.maps.LatLng(27.617425, -81.498138),
                new google.maps.LatLng(27.617485, -81.514177),
                new google.maps.LatLng(27.617565, -81.514274),
                new google.maps.LatLng(27.617674, -81.514371),
                new google.maps.LatLng(27.617725, -81.51438899999999),
                new google.maps.LatLng(27.61796, -81.514402),
                new google.maps.LatLng(27.618052, -81.51446400000002),
                new google.maps.LatLng(27.622875, -81.51446300000001),
                new google.maps.LatLng(27.62364300000001, -81.51451900000001),
                new google.maps.LatLng(27.62472100000002, -81.514662),
                new google.maps.LatLng(27.628408, -81.515351),
                new google.maps.LatLng(27.629104, -81.515511),
                new google.maps.LatLng(27.629696, -81.51569499999999),
                new google.maps.LatLng(27.63039600000001, -81.515991),
                new google.maps.LatLng(27.630877, -81.516233),
                new google.maps.LatLng(27.631542, -81.516633),
                new google.maps.LatLng(27.63183, -81.51682700000001),
                new google.maps.LatLng(27.63276, -81.517521),
                new google.maps.LatLng(27.633786, -81.518349),
                new google.maps.LatLng(27.634167, -81.518674),
                new google.maps.LatLng(27.64458700000001, -81.528031),
                new google.maps.LatLng(27.645067, -81.52847199999999),
                new google.maps.LatLng(27.645543, -81.52893899999999),
                new google.maps.LatLng(27.646391, -81.529875),
                new google.maps.LatLng(27.647533, -81.53118600000002),
                new google.maps.LatLng(27.648007, -81.53169200000001),
                new google.maps.LatLng(27.648867, -81.53251400000001),
                new google.maps.LatLng(27.649396, -81.53296),
                new google.maps.LatLng(27.649908, -81.533349),
                new google.maps.LatLng(27.66375, -81.543376),
                new google.maps.LatLng(27.666818, -81.545565),
                new google.maps.LatLng(27.677346, -81.553189),
                new google.maps.LatLng(27.677734, -81.553337),
                new google.maps.LatLng(27.678, -81.55335100000001),
                new google.maps.LatLng(27.678127, -81.553324),
                new google.maps.LatLng(27.678294, -81.55326),
                new google.maps.LatLng(27.678382, -81.553209),
                new google.maps.LatLng(27.678507, -81.553096),
                new google.maps.LatLng(27.678735, -81.552842),
                new google.maps.LatLng(27.679787, -81.551517),
                new google.maps.LatLng(27.680519, -81.55055400000001),
                new google.maps.LatLng(27.681588, -81.549227),
                new google.maps.LatLng(27.68176, -81.549043),
                new google.maps.LatLng(27.682042, -81.548799),
                new google.maps.LatLng(27.682449, -81.548525),
                new google.maps.LatLng(27.682865, -81.54833100000001),
                new google.maps.LatLng(27.692581, -81.54470000000002),
                new google.maps.LatLng(27.692724, -81.544635),
                new google.maps.LatLng(27.693139, -81.544398),
                new google.maps.LatLng(27.693427, -81.54418600000001),
                new google.maps.LatLng(27.693668, -81.543975),
                new google.maps.LatLng(27.694, -81.543634),
                new google.maps.LatLng(27.694295, -81.54323200000002),
                new google.maps.LatLng(27.694511, -81.542877),
                new google.maps.LatLng(27.694703, -81.542467),
                new google.maps.LatLng(27.697776, -81.534446),
                new google.maps.LatLng(27.698003, -81.533895),
                new google.maps.LatLng(27.698209, -81.533492),
                new google.maps.LatLng(27.69839, -81.533198),
                new google.maps.LatLng(27.698712, -81.53278400000001),
                new google.maps.LatLng(27.699426, -81.532085),
                new google.maps.LatLng(27.700093, -81.531479),
                new google.maps.LatLng(27.700336, -81.5313),
                new google.maps.LatLng(27.700547, -81.531173),
                new google.maps.LatLng(27.700956, -81.530986),
                new google.maps.LatLng(27.701242, -81.53089300000001),
                new google.maps.LatLng(27.701558, -81.530828),
                new google.maps.LatLng(27.702058, -81.53079700000001),
                new google.maps.LatLng(27.711111, -81.53089199999999),
                new google.maps.LatLng(27.718744, -81.530945),
                new google.maps.LatLng(27.724178, -81.530959),
                new google.maps.LatLng(27.724328, -81.530919),
                new google.maps.LatLng(27.728626, -81.530913),
                new google.maps.LatLng(27.729597, -81.53095399999999),
                new google.maps.LatLng(27.729727, -81.53097700000001),
                new google.maps.LatLng(27.73194700000001, -81.53098900000001),
                new google.maps.LatLng(27.732181, -81.53097099999999),
                new google.maps.LatLng(27.732547, -81.530889),
                new google.maps.LatLng(27.73281, -81.53079900000002),
                new google.maps.LatLng(27.73337, -81.530563),
                new google.maps.LatLng(27.733624, -81.53048200000001),
                new google.maps.LatLng(27.733849, -81.530436),
                new google.maps.LatLng(27.734128, -81.53041400000001),
                new google.maps.LatLng(27.744704, -81.530513),
                new google.maps.LatLng(27.744916, -81.53054300000001),
                new google.maps.LatLng(27.746428, -81.530557),
                new google.maps.LatLng(27.748278, -81.53056599999999),
                new google.maps.LatLng(27.748577, -81.530534),
                new google.maps.LatLng(27.748879, -81.53053300000002),
                new google.maps.LatLng(27.753483, -81.53058000000002),
                new google.maps.LatLng(27.753566, -81.530557),
                new google.maps.LatLng(27.755737, -81.530545),
                new google.maps.LatLng(27.755741, -81.529476),
                new google.maps.LatLng(27.755798, -81.528572),
                new google.maps.LatLng(27.755804, -81.52240999999999),
                new google.maps.LatLng(27.755814, -81.522114),
                new google.maps.LatLng(27.755856, -81.52164500000001),
                new google.maps.LatLng(27.75589400000001, -81.521371),
                new google.maps.LatLng(27.755995, -81.520886),
                new google.maps.LatLng(27.755877, -81.520765),
                new google.maps.LatLng(27.755838, -81.520689),
                new google.maps.LatLng(27.755814, -81.520599),
                new google.maps.LatLng(27.755803, -81.520394),
                new google.maps.LatLng(27.755815, -81.519592),
                new google.maps.LatLng(27.755834, -81.519426),
                new google.maps.LatLng(27.755858, -81.519346),
                new google.maps.LatLng(27.75605900000001, -81.518914),
                new google.maps.LatLng(27.756135, -81.51868500000001),
                new google.maps.LatLng(27.756161, -81.518524),
                new google.maps.LatLng(27.75658900000001, -81.512422),
                new google.maps.LatLng(27.756652, -81.511279),
                new google.maps.LatLng(27.75666500000001, -81.51021900000001),
                new google.maps.LatLng(27.75664, -81.509632),
                new google.maps.LatLng(27.756407, -81.506011),
                new google.maps.LatLng(27.756359, -81.50581200000001),
                new google.maps.LatLng(27.756289, -81.50563800000001),
                new google.maps.LatLng(27.756169, -81.50541800000001),
                new google.maps.LatLng(27.756, -81.505201),
                new google.maps.LatLng(27.75439, -81.50352100000001),
                new google.maps.LatLng(27.753913, -81.503086),
                new google.maps.LatLng(27.753582, -81.50276100000001),
                new google.maps.LatLng(27.753386, -81.50251299999999),
                new google.maps.LatLng(27.753184, -81.502194),
                new google.maps.LatLng(27.75307, -81.501976),
                new google.maps.LatLng(27.752935, -81.50165),
                new google.maps.LatLng(27.752637, -81.500653),
                new google.maps.LatLng(27.752212, -81.499121),
                new google.maps.LatLng(27.752142, -81.49873900000002),
                new google.maps.LatLng(27.752122, -81.498474),
                new google.maps.LatLng(27.752138, -81.49806),
                new google.maps.LatLng(27.752194, -81.49769900000001),
                new google.maps.LatLng(27.752255, -81.497468),
                new google.maps.LatLng(27.752381, -81.49713600000001),
                new google.maps.LatLng(27.753142, -81.49557800000001),
                new google.maps.LatLng(27.753545, -81.49479200000002),
                new google.maps.LatLng(27.754979, -81.49240399999999),
                new google.maps.LatLng(27.755136, -81.492086),
                new google.maps.LatLng(27.755244, -81.49180699999999),
                new google.maps.LatLng(27.755369, -81.49135800000001),
                new google.maps.LatLng(27.755434, -81.490957),
                new google.maps.LatLng(27.755543, -81.488963),
                new google.maps.LatLng(27.755591, -81.48857099999999),
                new google.maps.LatLng(27.755693, -81.48817200000001),
                new google.maps.LatLng(27.755964, -81.48743500000001),
                new google.maps.LatLng(27.756127, -81.486947),
                new google.maps.LatLng(27.756209, -81.486536),
                new google.maps.LatLng(27.75625300000001, -81.48612799999999),
                new google.maps.LatLng(27.756247, -81.485578),
                new google.maps.LatLng(27.756175, -81.485029),
                new google.maps.LatLng(27.756015, -81.484106),
                new google.maps.LatLng(27.755542, -81.481951),
                new google.maps.LatLng(27.75541, -81.48141100000001),
                new google.maps.LatLng(27.755295, -81.48107400000001),
                new google.maps.LatLng(27.755109, -81.48071299999999),
                new google.maps.LatLng(27.754959, -81.48050000000001),
                new google.maps.LatLng(27.754796, -81.480307),
                new google.maps.LatLng(27.754589, -81.480114),
                new google.maps.LatLng(27.754309, -81.479918),
                new google.maps.LatLng(27.75368, -81.47955500000001),
                new google.maps.LatLng(27.75328500000001, -81.47921700000001),
                new google.maps.LatLng(27.752012, -81.477836),
                new google.maps.LatLng(27.751648, -81.47747699999999),
                new google.maps.LatLng(27.751498, -81.477352),
                new google.maps.LatLng(27.751018, -81.47701000000001),
                new google.maps.LatLng(27.74892, -81.475605),
                new google.maps.LatLng(27.746583, -81.473777),
                new google.maps.LatLng(27.746378, -81.47363799999999),
                new google.maps.LatLng(27.746083, -81.473471),
                new google.maps.LatLng(27.745739, -81.473319),
                new google.maps.LatLng(27.74547, -81.47322800000001),
                new google.maps.LatLng(27.739912, -81.47167500000001),
                new google.maps.LatLng(27.738362, -81.471299),
                new google.maps.LatLng(27.736846, -81.470979),
                new google.maps.LatLng(27.736398, -81.470918),
                new google.maps.LatLng(27.736006, -81.47088600000001),
                new google.maps.LatLng(27.734738, -81.470838),
                new google.maps.LatLng(27.728254, -81.470688),
                new google.maps.LatLng(27.727855, -81.470719),
                new google.maps.LatLng(27.727394, -81.47079700000001),
                new google.maps.LatLng(27.724866, -81.471486),
                new google.maps.LatLng(27.724499, -81.471598),
                new google.maps.LatLng(27.724395, -81.471645),
                new google.maps.LatLng(27.72379, -81.471997),
                new google.maps.LatLng(27.723436, -81.47227100000001),
                new google.maps.LatLng(27.72303000000001, -81.472678),
                new google.maps.LatLng(27.72221400000001, -81.47353699999999),
                new google.maps.LatLng(27.722011, -81.47376199999999),
                new google.maps.LatLng(27.721832, -81.473991),
                new google.maps.LatLng(27.721669, -81.474221),
                new google.maps.LatLng(27.721526, -81.474465),
                new google.maps.LatLng(27.721329, -81.474863),
                new google.maps.LatLng(27.721106, -81.475368),
                // northern loop turnaround
				new google.maps.LatLng(27.721106, -81.475368),
                new google.maps.LatLng(27.721329, -81.474863),
                new google.maps.LatLng(27.721526, -81.474465),
                new google.maps.LatLng(27.721669, -81.474221),
                new google.maps.LatLng(27.721832, -81.473991),
                new google.maps.LatLng(27.722011, -81.47376199999999),
                new google.maps.LatLng(27.72221400000001, -81.47353699999999),
                new google.maps.LatLng(27.72303000000001, -81.472678),
                new google.maps.LatLng(27.723436, -81.47227100000001),
                new google.maps.LatLng(27.72379, -81.471997),
                new google.maps.LatLng(27.724395, -81.471645),
                new google.maps.LatLng(27.724499, -81.471598),
                new google.maps.LatLng(27.724866, -81.471486),
                new google.maps.LatLng(27.727394, -81.47079700000001),
                new google.maps.LatLng(27.727855, -81.470719),
                new google.maps.LatLng(27.728254, -81.470688),
                new google.maps.LatLng(27.734738, -81.470838),
                new google.maps.LatLng(27.736006, -81.47088600000001),
                new google.maps.LatLng(27.736398, -81.470918),
                new google.maps.LatLng(27.736846, -81.470979),
                new google.maps.LatLng(27.738362, -81.471299),
                new google.maps.LatLng(27.739912, -81.47167500000001),
                new google.maps.LatLng(27.74547, -81.47322800000001),
                new google.maps.LatLng(27.745739, -81.473319),
                new google.maps.LatLng(27.746083, -81.473471),
                new google.maps.LatLng(27.746378, -81.47363799999999),
                new google.maps.LatLng(27.746583, -81.473777),
                new google.maps.LatLng(27.74892, -81.475605),
                new google.maps.LatLng(27.751018, -81.47701000000001),
                new google.maps.LatLng(27.751498, -81.477352),
                new google.maps.LatLng(27.751648, -81.47747699999999),
                new google.maps.LatLng(27.752012, -81.477836),
                new google.maps.LatLng(27.75328500000001, -81.47921700000001),
                new google.maps.LatLng(27.75368, -81.47955500000001),
                new google.maps.LatLng(27.754309, -81.479918),
                new google.maps.LatLng(27.754589, -81.480114),
                new google.maps.LatLng(27.754796, -81.480307),
                new google.maps.LatLng(27.754959, -81.48050000000001),
                new google.maps.LatLng(27.755109, -81.48071299999999),
                new google.maps.LatLng(27.755295, -81.48107400000001),
                new google.maps.LatLng(27.75541, -81.48141100000001),
                new google.maps.LatLng(27.755542, -81.481951),
                new google.maps.LatLng(27.756015, -81.484106),
                new google.maps.LatLng(27.756175, -81.485029),
                new google.maps.LatLng(27.756247, -81.485578),
                new google.maps.LatLng(27.75625300000001, -81.48612799999999),
                new google.maps.LatLng(27.756209, -81.486536),
                new google.maps.LatLng(27.756127, -81.486947),
                new google.maps.LatLng(27.755964, -81.48743500000001),
                new google.maps.LatLng(27.755693, -81.48817200000001),
                new google.maps.LatLng(27.755591, -81.48857099999999),
                new google.maps.LatLng(27.755543, -81.488963),
                new google.maps.LatLng(27.755434, -81.490957),
                new google.maps.LatLng(27.755369, -81.49135800000001),
                new google.maps.LatLng(27.755244, -81.49180699999999),
                new google.maps.LatLng(27.755136, -81.492086),
                new google.maps.LatLng(27.754979, -81.49240399999999),
                new google.maps.LatLng(27.753545, -81.49479200000002),
                new google.maps.LatLng(27.753142, -81.49557800000001),
                new google.maps.LatLng(27.752381, -81.49713600000001),
                new google.maps.LatLng(27.752255, -81.497468),
                new google.maps.LatLng(27.752194, -81.49769900000001),
                new google.maps.LatLng(27.752138, -81.49806),
                new google.maps.LatLng(27.752122, -81.498474),
                new google.maps.LatLng(27.752142, -81.49873900000002),
                new google.maps.LatLng(27.752212, -81.499121),
                new google.maps.LatLng(27.752637, -81.500653),
                new google.maps.LatLng(27.752935, -81.50165),
                new google.maps.LatLng(27.75307, -81.501976),
                new google.maps.LatLng(27.753184, -81.502194),
                new google.maps.LatLng(27.753386, -81.50251299999999),
                new google.maps.LatLng(27.753582, -81.50276100000001),
                new google.maps.LatLng(27.753913, -81.503086),
                new google.maps.LatLng(27.75439, -81.50352100000001),
                new google.maps.LatLng(27.756, -81.505201),
                new google.maps.LatLng(27.756169, -81.50541800000001),
                new google.maps.LatLng(27.756289, -81.50563800000001),
                new google.maps.LatLng(27.756359, -81.50581200000001),
                new google.maps.LatLng(27.756407, -81.506011),
                new google.maps.LatLng(27.75664, -81.509632),
                new google.maps.LatLng(27.75666500000001, -81.51021900000001),
                new google.maps.LatLng(27.756652, -81.511279),
                new google.maps.LatLng(27.75658900000001, -81.512422),
                new google.maps.LatLng(27.756161, -81.518524),
                new google.maps.LatLng(27.756135, -81.51868500000001),
                new google.maps.LatLng(27.75605900000001, -81.518914),
                new google.maps.LatLng(27.755858, -81.519346),
                new google.maps.LatLng(27.755834, -81.519426),
                new google.maps.LatLng(27.755815, -81.519592),
                new google.maps.LatLng(27.755803, -81.520394),
                new google.maps.LatLng(27.755814, -81.520599),
                new google.maps.LatLng(27.755838, -81.520689),
                new google.maps.LatLng(27.755877, -81.520765),
                new google.maps.LatLng(27.755995, -81.520886),
                new google.maps.LatLng(27.75589400000001, -81.521371),
                new google.maps.LatLng(27.755856, -81.52164500000001),
                new google.maps.LatLng(27.755814, -81.522114),
                new google.maps.LatLng(27.755804, -81.52240999999999),
                new google.maps.LatLng(27.755798, -81.528572),
                new google.maps.LatLng(27.755741, -81.529476),
                new google.maps.LatLng(27.755737, -81.530545),
                new google.maps.LatLng(27.753566, -81.530557),
                new google.maps.LatLng(27.753483, -81.53058000000002),
                new google.maps.LatLng(27.748879, -81.53053300000002),
                new google.maps.LatLng(27.748577, -81.530534),
                new google.maps.LatLng(27.748278, -81.53056599999999),
                new google.maps.LatLng(27.746428, -81.530557),
                new google.maps.LatLng(27.744916, -81.53054300000001),
                new google.maps.LatLng(27.744704, -81.530513),
                new google.maps.LatLng(27.734128, -81.53041400000001),
                new google.maps.LatLng(27.733849, -81.530436),
                new google.maps.LatLng(27.733624, -81.53048200000001),
                new google.maps.LatLng(27.73337, -81.530563),
                new google.maps.LatLng(27.73281, -81.53079900000002),
                new google.maps.LatLng(27.732547, -81.530889),
                new google.maps.LatLng(27.732181, -81.53097099999999),
                new google.maps.LatLng(27.73194700000001, -81.53098900000001),
                new google.maps.LatLng(27.729727, -81.53097700000001),
                new google.maps.LatLng(27.729597, -81.53095399999999),
                new google.maps.LatLng(27.728626, -81.530913),
                new google.maps.LatLng(27.724328, -81.530919),
                new google.maps.LatLng(27.724178, -81.530959),
                new google.maps.LatLng(27.718744, -81.530945),
                new google.maps.LatLng(27.711111, -81.53089199999999),
                new google.maps.LatLng(27.702058, -81.53079700000001),
                new google.maps.LatLng(27.701558, -81.530828),
                new google.maps.LatLng(27.701242, -81.53089300000001),
                new google.maps.LatLng(27.700956, -81.530986),
                new google.maps.LatLng(27.700547, -81.531173),
                new google.maps.LatLng(27.700336, -81.5313),
                new google.maps.LatLng(27.700093, -81.531479),
                new google.maps.LatLng(27.699426, -81.532085),
                new google.maps.LatLng(27.698712, -81.53278400000001),
                new google.maps.LatLng(27.69839, -81.533198),
                new google.maps.LatLng(27.698209, -81.533492),
                new google.maps.LatLng(27.698003, -81.533895),
                new google.maps.LatLng(27.697776, -81.534446),
                new google.maps.LatLng(27.694703, -81.542467),
                new google.maps.LatLng(27.694511, -81.542877),
                new google.maps.LatLng(27.694295, -81.54323200000002),
                new google.maps.LatLng(27.694, -81.543634),
                new google.maps.LatLng(27.693668, -81.543975),
                new google.maps.LatLng(27.693427, -81.54418600000001),
                new google.maps.LatLng(27.693139, -81.544398),
                new google.maps.LatLng(27.692724, -81.544635),
                new google.maps.LatLng(27.692581, -81.54470000000002),
                new google.maps.LatLng(27.682865, -81.54833100000001),
                new google.maps.LatLng(27.682449, -81.548525),
                new google.maps.LatLng(27.682042, -81.548799),
                new google.maps.LatLng(27.68176, -81.549043),
                new google.maps.LatLng(27.681588, -81.549227),
                new google.maps.LatLng(27.680519, -81.55055400000001),
                new google.maps.LatLng(27.679787, -81.551517),
                new google.maps.LatLng(27.678735, -81.552842),
                new google.maps.LatLng(27.678507, -81.553096),
                new google.maps.LatLng(27.678382, -81.553209),
                new google.maps.LatLng(27.678294, -81.55326),
                new google.maps.LatLng(27.678127, -81.553324),
                new google.maps.LatLng(27.678, -81.55335100000001),
                new google.maps.LatLng(27.677734, -81.553337),
                new google.maps.LatLng(27.677346, -81.553189),
                new google.maps.LatLng(27.666818, -81.545565),
                new google.maps.LatLng(27.66375, -81.543376),
                new google.maps.LatLng(27.649908, -81.533349),
                new google.maps.LatLng(27.649396, -81.53296),
                new google.maps.LatLng(27.648867, -81.53251400000001),
                new google.maps.LatLng(27.648007, -81.53169200000001),
                new google.maps.LatLng(27.647533, -81.53118600000002),
                new google.maps.LatLng(27.646391, -81.529875),
                new google.maps.LatLng(27.645543, -81.52893899999999),
                new google.maps.LatLng(27.645067, -81.52847199999999),
                new google.maps.LatLng(27.64458700000001, -81.528031),
                new google.maps.LatLng(27.634167, -81.518674),
                new google.maps.LatLng(27.633786, -81.518349),
                new google.maps.LatLng(27.63276, -81.517521),
                new google.maps.LatLng(27.63183, -81.51682700000001),
                new google.maps.LatLng(27.631542, -81.516633),
                new google.maps.LatLng(27.630877, -81.516233),
                new google.maps.LatLng(27.63039600000001, -81.515991),
                new google.maps.LatLng(27.629696, -81.51569499999999),
                new google.maps.LatLng(27.629104, -81.515511),
                new google.maps.LatLng(27.628408, -81.515351),
                new google.maps.LatLng(27.62472100000002, -81.514662),
                new google.maps.LatLng(27.62364300000001, -81.51451900000001),
                new google.maps.LatLng(27.622875, -81.51446300000001),
                new google.maps.LatLng(27.618052, -81.51446400000002),
                new google.maps.LatLng(27.61796, -81.514402),
                new google.maps.LatLng(27.617725, -81.51438899999999),
                new google.maps.LatLng(27.617674, -81.514371),
                new google.maps.LatLng(27.617565, -81.514274),
                new google.maps.LatLng(27.617485, -81.514177),
                new google.maps.LatLng(27.617425, -81.498138),
                new google.maps.LatLng(27.617459, -81.490055),
                new google.maps.LatLng(27.617454, -81.48585300000001),
                new google.maps.LatLng(27.617454, -81.485851),
                new google.maps.LatLng(27.617493, -81.48180000000001),
                new google.maps.LatLng(27.6175, -81.469488),
                new google.maps.LatLng(27.617508, -81.46536500000001),
                new google.maps.LatLng(27.62423, -81.46537600000001),
                new google.maps.LatLng(27.624607, -81.465361),
                new google.maps.LatLng(27.624724, -81.46533200000002),
                new google.maps.LatLng(27.62489, -81.465239),
                new google.maps.LatLng(27.625177, -81.46497100000001),
                new google.maps.LatLng(27.628045, -81.461758),
                new google.maps.LatLng(27.628216, -81.461535),
                new google.maps.LatLng(27.628303, -81.461377),
                new google.maps.LatLng(27.628355, -81.461257),
                new google.maps.LatLng(27.628421, -81.46099200000001),
                new google.maps.LatLng(27.62844, -81.460827),
                new google.maps.LatLng(27.628445, -81.460437),
                new google.maps.LatLng(27.628391, -81.443609),
                new google.maps.LatLng(27.628359, -81.44344),
                new google.maps.LatLng(27.62829500000001, -81.44322699999999),
                new google.maps.LatLng(27.628158, -81.442936),
                new google.maps.LatLng(27.62696, -81.44092999999999),
                new google.maps.LatLng(27.626766, -81.440535),
                new google.maps.LatLng(27.626719, -81.44041),
                new google.maps.LatLng(27.626677, -81.440226),
                new google.maps.LatLng(27.626665, -81.44006),
                new google.maps.LatLng(27.626559, -81.43757700000001),
                new google.maps.LatLng(27.626567, -81.43732300000001),
                new google.maps.LatLng(27.626619, -81.437084),
                new google.maps.LatLng(27.626716, -81.43686200000001),
                new google.maps.LatLng(27.63160900000001, -81.427881),
                new google.maps.LatLng(27.632053, -81.426986),
                new google.maps.LatLng(27.632198, -81.426605),
                new google.maps.LatLng(27.632245, -81.426366),
                new google.maps.LatLng(27.63227, -81.426095),
                new google.maps.LatLng(27.63226, -81.41847199999999),
                new google.maps.LatLng(27.634941, -81.415683),
                new google.maps.LatLng(27.634746, -81.415648),
                new google.maps.LatLng(27.634588, -81.41564500000001),
                new google.maps.LatLng(27.632108, -81.415648),
                new google.maps.LatLng(27.629054, -81.415694),
                new google.maps.LatLng(27.624853, -81.41571500000001),
                new google.maps.LatLng(27.62488, -81.419821),
                new google.maps.LatLng(27.602954, -81.42004799999999),
                new google.maps.LatLng(27.602953, -81.420024),
                new google.maps.LatLng(27.602954, -81.42004799999999),
                new google.maps.LatLng(27.59487, -81.420121),
                new google.maps.LatLng(27.594539, -81.420097),
                new google.maps.LatLng(27.594112, -81.420005),
                new google.maps.LatLng(27.593692, -81.41984100000001),
                new google.maps.LatLng(27.593399, -81.419681),
                new google.maps.LatLng(27.593111, -81.419482),
                new google.maps.LatLng(27.592816, -81.419223),
                new google.maps.LatLng(27.592626, -81.41901799999999),
                new google.maps.LatLng(27.59245200000001, -81.418789),
                new google.maps.LatLng(27.591631, -81.41751000000001),
                new google.maps.LatLng(27.591359, -81.417124),
                new google.maps.LatLng(27.591145, -81.41687500000001),
                new google.maps.LatLng(27.59088, -81.416629),
                new google.maps.LatLng(27.590699, -81.41649),
                new google.maps.LatLng(27.59042, -81.41631099999999),
                new google.maps.LatLng(27.59009500000001, -81.416157),
                new google.maps.LatLng(27.589766, -81.416039),
                new google.maps.LatLng(27.589323, -81.41595100000001),
                new google.maps.LatLng(27.587915, -81.415944),
                new google.maps.LatLng(27.583984, -81.41600800000001),
                new google.maps.LatLng(27.573654, -81.41610300000001),
                new google.maps.LatLng(27.573651, -81.413121),
                new google.maps.LatLng(27.55917000000001, -81.413319),
                new google.maps.LatLng(27.559158, -81.40513900000001),
                new google.maps.LatLng(27.543111, -81.405269),
                new google.maps.LatLng(27.531282, -81.40534700000001),
                new google.maps.LatLng(27.531197, -81.405311),
                new google.maps.LatLng(27.531175, -81.405239),
                new google.maps.LatLng(27.531171, -81.40334100000001),
new google.maps.LatLng(27.521944, -81.403363),
                // end northern loop
                new google.maps.LatLng(27.521944, -81.403363),
                new google.maps.LatLng(27.521935, -81.401782),
                new google.maps.LatLng(27.521951, -81.40147500000001),
                new google.maps.LatLng(27.522007, -81.40104600000001),
                new google.maps.LatLng(27.522079, -81.400723),
                new google.maps.LatLng(27.522222, -81.40028599999999),
                new google.maps.LatLng(27.522332, -81.400023),
                new google.maps.LatLng(27.52252800000001, -81.399649),
                new google.maps.LatLng(27.522763, -81.399303),
                new google.maps.LatLng(27.523039, -81.39895),
                new google.maps.LatLng(27.532205, -81.38732400000001),
                new google.maps.LatLng(27.532487, -81.38685),
                new google.maps.LatLng(27.532688, -81.386377),
                new google.maps.LatLng(27.53275, -81.386196),
                new google.maps.LatLng(27.53285, -81.38579900000001),
                new google.maps.LatLng(27.532925, -81.385263),
                new google.maps.LatLng(27.53293800000001, -81.38499),
                new google.maps.LatLng(27.532933, -81.38464500000001),
                new google.maps.LatLng(27.532903, -81.38431900000001),
                new google.maps.LatLng(27.532825, -81.383898),
                new google.maps.LatLng(27.52733, -81.36271499999999),
                new google.maps.LatLng(27.527188, -81.36211),
                new google.maps.LatLng(27.527005, -81.361166),
                new google.maps.LatLng(27.526861, -81.360147),
                new google.maps.LatLng(27.526367, -81.35602),
                new google.maps.LatLng(27.526328, -81.35581000000002),
                new google.maps.LatLng(27.526213, -81.35543300000001),
                new google.maps.LatLng(27.5261, -81.355175),
                new google.maps.LatLng(27.525961, -81.354945),
                new google.maps.LatLng(27.525779, -81.354696),
                new google.maps.LatLng(27.525636, -81.354545),
                new google.maps.LatLng(27.525001, -81.353978),
                new google.maps.LatLng(27.510876, -81.34173),
                new google.maps.LatLng(27.508856, -81.340029),
                new google.maps.LatLng(27.500602, -81.33290599999999),
                new google.maps.LatLng(27.500206, -81.332545),
                new google.maps.LatLng(27.499708, -81.33202),
                new google.maps.LatLng(27.499397, -81.33163500000001),
                new google.maps.LatLng(27.498951, -81.331),
                new google.maps.LatLng(27.498585, -81.330358),
                new google.maps.LatLng(27.498286, -81.329719),
                new google.maps.LatLng(27.49365, -81.318191),
                new google.maps.LatLng(27.490132, -81.309493),
                new google.maps.LatLng(27.489202, -81.307158),
                new google.maps.LatLng(27.488906, -81.306478),
                new google.maps.LatLng(27.469742, -81.271997),
                new google.maps.LatLng(27.469413, -81.27137300000001),
                new google.maps.LatLng(27.462027, -81.25627400000001),
                new google.maps.LatLng(27.455425, -81.256461),
                new google.maps.LatLng(27.448658, -81.25649900000001),
                new google.maps.LatLng(27.44518400000001, -81.256536),
                new google.maps.LatLng(27.44518400000001, -81.256536),
                new google.maps.LatLng(27.44644200000002, -81.25905299999999),
                new google.maps.LatLng(27.449627, -81.265129),
                new google.maps.LatLng(27.449954, -81.265832),
                new google.maps.LatLng(27.450103, -81.266228),
                new google.maps.LatLng(27.450254, -81.266685),
                new google.maps.LatLng(27.450437, -81.267371),
                new google.maps.LatLng(27.450592, -81.268254),
                new google.maps.LatLng(27.450636, -81.26866),
                new google.maps.LatLng(27.450663, -81.26907199999999),
                new google.maps.LatLng(27.450806, -81.279845),
                new google.maps.LatLng(27.450804, -81.28051200000002),
                new google.maps.LatLng(27.450781, -81.28085),
                new google.maps.LatLng(27.450719, -81.281278),
                new google.maps.LatLng(27.45060000000001, -81.281744),
                new google.maps.LatLng(27.45046, -81.28215899999999),
                new google.maps.LatLng(27.450264, -81.282577),
                new google.maps.LatLng(27.449272, -81.284232),
                new google.maps.LatLng(27.444328, -81.292354),
                new google.maps.LatLng(27.444047, -81.29292100000001),
                new google.maps.LatLng(27.443807, -81.293492),
                new google.maps.LatLng(27.443589, -81.294139),
                new google.maps.LatLng(27.441813, -81.300708),
                new google.maps.LatLng(27.441569, -81.301525),
                new google.maps.LatLng(27.441337, -81.30216400000001),
                new google.maps.LatLng(27.441326, -81.302258),
                new google.maps.LatLng(27.44115, -81.302758),
                new google.maps.LatLng(27.441034, -81.30304),
                new google.maps.LatLng(27.440472, -81.304273),
                new google.maps.LatLng(27.439858, -81.30553999999999),
                new google.maps.LatLng(27.439769, -81.305678),
                new google.maps.LatLng(27.437999, -81.30941),
                new google.maps.LatLng(27.437739, -81.30998700000001),
                new google.maps.LatLng(27.437711, -81.31010499999999),
                new google.maps.LatLng(27.437011, -81.311616),
                new google.maps.LatLng(27.435659, -81.314455),
                new google.maps.LatLng(27.435553, -81.314616),
                new google.maps.LatLng(27.434008, -81.317916),
                new google.maps.LatLng(27.433799, -81.318459),
                new google.maps.LatLng(27.433668, -81.318969),
                new google.maps.LatLng(27.433588, -81.319475),
                new google.maps.LatLng(27.433567, -81.319881),
                new google.maps.LatLng(27.43357, -81.32041700000001),
                new google.maps.LatLng(27.433804, -81.333645),
                new google.maps.LatLng(27.433826, -81.333831),
                new google.maps.LatLng(27.433864, -81.335025),
                new google.maps.LatLng(27.433877, -81.336705),
                new google.maps.LatLng(27.433856, -81.33685300000001),
                new google.maps.LatLng(27.43402, -81.346341),
                new google.maps.LatLng(27.434336, -81.363202),
                new google.maps.LatLng(27.434403, -81.365979),
                new google.maps.LatLng(27.434495, -81.366248),
                new google.maps.LatLng(27.434557, -81.36634100000001),
                new google.maps.LatLng(27.434717, -81.36638499999999),
                new google.maps.LatLng(27.434861, -81.366446),
                new google.maps.LatLng(27.434968, -81.36642700000002),
                new google.maps.LatLng(27.434964, -81.366428),
                new google.maps.LatLng(27.43517200000001, -81.36636799999999),
                new google.maps.LatLng(27.435377, -81.36627300000001),
                new google.maps.LatLng(27.436041, -81.365833),
                new google.maps.LatLng(27.436247, -81.365731),
                new google.maps.LatLng(27.436616, -81.36559800000002),
                new google.maps.LatLng(27.436902, -81.36554099999999),
                new google.maps.LatLng(27.437124, -81.365522),
                new google.maps.LatLng(27.437423, -81.36552),
                new google.maps.LatLng(27.44179, -81.36568699999999),
                new google.maps.LatLng(27.442687, -81.365698),
                new google.maps.LatLng(27.443142, -81.365658),
                new google.maps.LatLng(27.44361, -81.36559200000001),
                new google.maps.LatLng(27.443961, -81.36552),
                new google.maps.LatLng(27.444722, -81.365297),
                new google.maps.LatLng(27.445626, -81.364921),
                new google.maps.LatLng(27.446119, -81.364639),
                new google.maps.LatLng(27.446671, -81.36427000000001),
                new google.maps.LatLng(27.44715, -81.363894),
                new google.maps.LatLng(27.448366, -81.362809),
                new google.maps.LatLng(27.449907, -81.36157700000001),
                new google.maps.LatLng(27.450307, -81.36121799999999),
                new google.maps.LatLng(27.450932, -81.36069500000001),
                new google.maps.LatLng(27.45093, -81.35954000000001)
            ];

            var raceTrackPath = [
                new google.maps.LatLng(27.450907, -81.359548),
                new google.maps.LatLng(27.45082800000001, -81.357445),
                new google.maps.LatLng(27.450764, -81.355482),
                new google.maps.LatLng(27.450702, -81.353315),
                new google.maps.LatLng(27.450702, -81.352735),
                new google.maps.LatLng(27.450723, -81.349903),
                new google.maps.LatLng(27.450769, -81.34979800000001),
                new google.maps.LatLng(27.4509, -81.349774),
                new google.maps.LatLng(27.451775, -81.34978700000002),
                new google.maps.LatLng(27.451821, -81.34980400000001),
                new google.maps.LatLng(27.451954, -81.34996700000001),
                new google.maps.LatLng(27.45348, -81.351778),
                new google.maps.LatLng(27.45350300000001, -81.35185),
                new google.maps.LatLng(27.453501, -81.351944),
                new google.maps.LatLng(27.453425, -81.352073),
                new google.maps.LatLng(27.45323, -81.352338),
                new google.maps.LatLng(27.453054, -81.352679),
                new google.maps.LatLng(27.452982, -81.35282599999999),
                new google.maps.LatLng(27.452818, -81.353256),
                new google.maps.LatLng(27.45272, -81.353685),
                new google.maps.LatLng(27.452682, -81.35403300000002),
                new google.maps.LatLng(27.45267, -81.35476300000001),
                new google.maps.LatLng(27.452639, -81.358679),
                new google.maps.LatLng(27.452656, -81.35882100000001),
                new google.maps.LatLng(27.452708, -81.358869),
                new google.maps.LatLng(27.452794, -81.358885),
                new google.maps.LatLng(27.452908, -81.35882100000001),
                new google.maps.LatLng(27.45302300000001, -81.35869),
                new google.maps.LatLng(27.454351, -81.357193),
                new google.maps.LatLng(27.454503, -81.35698600000001),
                new google.maps.LatLng(27.454598, -81.356785),
                new google.maps.LatLng(27.454703, -81.35652),
                new google.maps.LatLng(27.454789, -81.35623),
                new google.maps.LatLng(27.455115, -81.355181),
                new google.maps.LatLng(27.45525800000001, -81.354876),
                new google.maps.LatLng(27.455484, -81.35454799999999),
                new google.maps.LatLng(27.455696, -81.35429600000001),
                new google.maps.LatLng(27.455955, -81.354063),
                new google.maps.LatLng(27.457133, -81.35276500000001),
                new google.maps.LatLng(27.4572, -81.352671),
                new google.maps.LatLng(27.457224, -81.35259000000001),
                new google.maps.LatLng(27.457226, -81.352507),
                new google.maps.LatLng(27.45719, -81.352413),
                new google.maps.LatLng(27.457078, -81.352255),
                new google.maps.LatLng(27.456688, -81.351928),
                new google.maps.LatLng(27.456567, -81.351724),
                new google.maps.LatLng(27.456393, -81.35118799999999),
                new google.maps.LatLng(27.456379, -81.351021),
                new google.maps.LatLng(27.456417, -81.35078799999999),
                new google.maps.LatLng(27.456538, -81.35031600000001),
                new google.maps.LatLng(27.456836, -81.349626),
                new google.maps.LatLng(27.456893, -81.34940899999999),
                new google.maps.LatLng(27.456897, -81.34835),
                new google.maps.LatLng(27.456855, -81.348151),
                new google.maps.LatLng(27.456769, -81.348012),
                new google.maps.LatLng(27.456631, -81.347931),
                new google.maps.LatLng(27.456462, -81.347915),
                new google.maps.LatLng(27.453563, -81.34791),
                new google.maps.LatLng(27.45313700000001, -81.347988),
                new google.maps.LatLng(27.45298, -81.34798499999999),
                new google.maps.LatLng(27.452751, -81.347875),
                new google.maps.LatLng(27.451814, -81.347419),
                new google.maps.LatLng(27.45170600000001, -81.347341),
                new google.maps.LatLng(27.45149, -81.34710300000002),
                new google.maps.LatLng(27.450733, -81.346231),
                new google.maps.LatLng(27.450516, -81.346121),
                new google.maps.LatLng(27.450271, -81.34611000000001),
                new google.maps.LatLng(27.450088, -81.346204),
                new google.maps.LatLng(27.449786, -81.346429),
                new google.maps.LatLng(27.449571, -81.346537),
                new google.maps.LatLng(27.449048, -81.34663000000001),
                new google.maps.LatLng(27.448624, -81.346698),
                new google.maps.LatLng(27.448476, -81.346778),
                new google.maps.LatLng(27.448403, -81.346885),
                new google.maps.LatLng(27.448341, -81.34705200000001),
                new google.maps.LatLng(27.448334, -81.34728),
                new google.maps.LatLng(27.44832600000001, -81.35632099999999),
                new google.maps.LatLng(27.448412, -81.35664300000001),
                new google.maps.LatLng(27.448588, -81.357051),
                new google.maps.LatLng(27.448979, -81.35757700000001),
                new google.maps.LatLng(27.44925, -81.357641),
                new google.maps.LatLng(27.449486, -81.357563),
                new google.maps.LatLng(27.449809, -81.35735699999999),
                new google.maps.LatLng(27.450005, -81.357158),
                new google.maps.LatLng(27.450097, -81.35687900000001),
                new google.maps.LatLng(27.450105, -81.35653600000001),
                new google.maps.LatLng(27.450188, -81.355541),
                new google.maps.LatLng(27.450274, -81.349503),
                new google.maps.LatLng(27.45045, -81.34899900000001),
                new google.maps.LatLng(27.450747, -81.348674),
                new google.maps.LatLng(27.450928, -81.348597),
                new google.maps.LatLng(27.451245, -81.348535),
                new google.maps.LatLng(27.451566, -81.34852100000001),
                new google.maps.LatLng(27.453146, -81.348862),
                new google.maps.LatLng(27.454251, -81.348884),
                new google.maps.LatLng(27.454394, -81.348967),
                new google.maps.LatLng(27.454484, -81.349058),
                new google.maps.LatLng(27.454551, -81.34916800000001),
                new google.maps.LatLng(27.454555, -81.34961),
                new google.maps.LatLng(27.454584, -81.34970700000001),
                new google.maps.LatLng(27.454624, -81.349806),
                new google.maps.LatLng(27.454948, -81.35034),
                new google.maps.LatLng(27.454979, -81.35047400000001),
                new google.maps.LatLng(27.454991, -81.350616),
                new google.maps.LatLng(27.454962, -81.350785),
                new google.maps.LatLng(27.454884, -81.350911),
                new google.maps.LatLng(27.454272, -81.35126),
                new google.maps.LatLng(27.453989, -81.35144800000001),
                new google.maps.LatLng(27.453725, -81.35167800000001),
                new google.maps.LatLng(27.453551, -81.35185300000001),
                new google.maps.LatLng(27.453468, -81.351837),
                new google.maps.LatLng(27.453173, -81.351472),
                new google.maps.LatLng(27.451828, -81.349876),
                new google.maps.LatLng(27.451761, -81.349825),
                new google.maps.LatLng(27.450873, -81.349863),
                new google.maps.LatLng(27.450807, -81.349935),
                new google.maps.LatLng(27.450809, -81.350115),
                new google.maps.LatLng(27.450823, -81.356174),
                new google.maps.LatLng(27.450976, -81.359543)
            ];

            var shortRoutePath = [
                new google.maps.LatLng(27.45088, -81.35954000000001),
                new google.maps.LatLng(27.45075, -81.3556),
                new google.maps.LatLng(27.4507, -81.35527),
                new google.maps.LatLng(27.45071, -81.35265),
                new google.maps.LatLng(27.45078, -81.35259000000001),
                new google.maps.LatLng(27.45083, -81.35267),
                new google.maps.LatLng(27.45078, -81.35545999999999),
                new google.maps.LatLng(27.45099, -81.36042999999999),
                new google.maps.LatLng(27.45096, -81.36069999999999),
                new google.maps.LatLng(27.45081, -81.36088),
                new google.maps.LatLng(27.44676, -81.36421),
                new google.maps.LatLng(27.44574, -81.36491),
                new google.maps.LatLng(27.4449, -81.36528),
                new google.maps.LatLng(27.44393000000001, -81.36557999999999),
                new google.maps.LatLng(27.4427, -81.36574),
                new google.maps.LatLng(27.43693, -81.36557999999999),
                new google.maps.LatLng(27.43617, -81.36581),
                new google.maps.LatLng(27.43521, -81.36642000000001),
                new google.maps.LatLng(27.43454, -81.36656000000001),
                new google.maps.LatLng(27.43446, -81.36665000000001),
                new google.maps.LatLng(27.43447, -81.36843),
                new google.maps.LatLng(27.43443, -81.36906999999999),
                new google.maps.LatLng(27.43435, -81.36948),
                new google.maps.LatLng(27.4299, -81.39124),
                new google.maps.LatLng(27.42699000000001, -81.4038),
                new google.maps.LatLng(27.42656, -81.40624),
                new google.maps.LatLng(27.42654, -81.40707),
                new google.maps.LatLng(27.42662, -81.40759),
                new google.maps.LatLng(27.42802, -81.41185),
                new google.maps.LatLng(27.4283, -81.41222999999999),
                new google.maps.LatLng(27.42889, -81.41262),
                new google.maps.LatLng(27.43046, -81.41255),
                new google.maps.LatLng(27.4309, -81.41231999999999),
                new google.maps.LatLng(27.43131, -81.41201),
                new google.maps.LatLng(27.43179, -81.41183),
                new google.maps.LatLng(27.4324, -81.41183),
                new google.maps.LatLng(27.43265, -81.4119),
                new google.maps.LatLng(27.43332, -81.41225),
                new google.maps.LatLng(27.43395, -81.41238),
                new google.maps.LatLng(27.43427, -81.41236000000001),
                new google.maps.LatLng(27.43485, -81.4122),
                new google.maps.LatLng(27.43531, -81.4119),
                new google.maps.LatLng(27.43696, -81.41042),
                new google.maps.LatLng(27.43729, -81.40995),
                new google.maps.LatLng(27.43748, -81.40945000000001),
                new google.maps.LatLng(27.43759, -81.40886999999999),
                new google.maps.LatLng(27.43742, -81.40662),
                new google.maps.LatLng(27.43741, -81.40634),
                new google.maps.LatLng(27.43746, -81.40608),
                new google.maps.LatLng(27.4377, -81.40564000000001),
                new google.maps.LatLng(27.43791, -81.40546000000002),
                new google.maps.LatLng(27.43818, -81.40532),
                new google.maps.LatLng(27.43882, -81.40528000000001),
                new google.maps.LatLng(27.44583, -81.40524000000001),
                new google.maps.LatLng(27.44675, -81.40504),
                new google.maps.LatLng(27.4473, -81.40483),
                new google.maps.LatLng(27.44778000000001, -81.40455),
                new google.maps.LatLng(27.45188, -81.40143999999999),
                new google.maps.LatLng(27.4524, -81.40121000000002),
                new google.maps.LatLng(27.45274, -81.40116999999999),
                new google.maps.LatLng(27.46537, -81.40111),
                new google.maps.LatLng(27.47096, -81.40096),
                new google.maps.LatLng(27.47119, -81.40089),
                new google.maps.LatLng(27.47126, -81.40082),
                new google.maps.LatLng(27.47126, -81.40066),
                new google.maps.LatLng(27.4712, -81.40058999999999),
                new google.maps.LatLng(27.44896, -81.37173),
                new google.maps.LatLng(27.44834, -81.37080000000002),
                new google.maps.LatLng(27.44792, -81.36964),
                new google.maps.LatLng(27.44766, -81.36857999999999),
                new google.maps.LatLng(27.44752, -81.36772000000001),
                new google.maps.LatLng(27.4475, -81.3668),
                new google.maps.LatLng(27.44754, -81.36626),
                new google.maps.LatLng(27.44772, -81.36524),
                new google.maps.LatLng(27.44808, -81.36415),
                new google.maps.LatLng(27.448586, -81.363105),
                new google.maps.LatLng(27.4484, -81.36288999999999),
                new google.maps.LatLng(27.4484, -81.36271000000001),
                new google.maps.LatLng(27.45079, -81.36078999999999),
                new google.maps.LatLng(27.45087, -81.36064),
                new google.maps.LatLng(27.4509, -81.36046),
                new google.maps.LatLng(27.45088, -81.35956)
            ];

            var longRouteLine1 = new google.maps.Polyline({
                path: longRoutePath1,
                geodisc: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            
            var raceTrackLine = new google.maps.Polyline({
                path: raceTrackPath,
                geodisc: true,
                strokeColor: '#00FF00',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            var shortRouteLine = new google.maps.Polyline({
                path: shortRoutePath,
                geodisc: true,
                strokeColor: '#0000FF',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            longRouteLine1.setMap(map);
            raceTrackLine.setMap(map);
            shortRouteLine.setMap(map);

            var lines = [
                longRouteLine1,
                raceTrackLine,
                shortRouteLine
            ];

            var oSnap;

            google.maps.event.addListenerOnce(map, "projection_changed", function () {

                var isDragging = false;

                google.maps.event.addListener(marker, 'dragstart', function () {

                    oSnap = new cSnapToRoute(map);
                    oSnap.init(map, marker, lines);
                    isDragging = true;

                });

               //google.maps.event.addListener(marker, 'dragstart', function () {

               //     oSnap = new cSnapToRoute(map);
               //     oSnap.init(map, marker, lines);

               // });

                google.maps.event.addListener(marker, 'dragend', function () {

                    if (oSnap && isDragging) {
                        oSnap.cancel();
                        isDragging = false;
                        alert('you selected ' + marker.getPosition().lat() + ' ' + marker.getPosition().lng());
                    }

                });

                //google.maps.event.addListener(marker, 'dragend', function () {

                //    if (oSnap) {
                //        oSnap.cancel();
                //    }

                //});

            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <div id="map-canvas"></div>
</body>
</html>
