@model DonationPortal.Web.ViewModels.RiderDetail.RiderDetailViewModel
@{
    Layout = null;
}

<section class="stacked-container social-gallery social-dashboard" role="region">
    <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>@Model.PossessiveRiderName Race</h2>
            </div>
            <div class="col-sm-6 txt-right hidden-xs">
                <a href="#" class="btn btn-lg btn-primary">View All <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div id="social-stream" class="loading">
                    <!-- social-stream -->
                    <section class="stream">

                        <div class="social-block social-twitter">
                            <a href="#" class="social-media" target="_blank"><img src="http://placehold.it/298x150&text=placeholder" alt="placeholder"></a>
                            <div class="inner">
                                <div class="social-thumb">
                                    <a href="#" class="thumb"><img src="http://placehold.it/80x80&text=icon" alt=""></a>
                                    <div class="social-user">
                                        <a href="#"><strong>User Name</strong><br>@@username</a>
                                    </div>
                                </div>
                                <div class="social-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ex harum inventore neque sequi, suscipit. <a href="#">pic.twitter.com/byjkECBtl4</a> <a href="#">#hashtag</a> <a href="#">#loremipsum</a></div>
                                <div class="social-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i>Retweet</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i>Favorite</a></li>
                                    </ul>
                                </div>
                                <div class="social-details">
                                    <a href="#">Tweeted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="twitter"></a>
                            </div>
                        </div>

                        <div class="social-block social-facebook">
                            <a href="#" class="social-media" target="_blank"><img src="http://placehold.it/298x150&text=placeholder" alt="placeholder"></a>
                            <div class="inner">
                                <div class="social-title"><a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipisicing elit ullam veritatis!</a></div>
                                <div class="social-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at beatae, blanditiis, consequuntur cumque dolor eaque earum harum impedit ipsam iusto maxime nisi odio quam qui quis recusandae tempore totam!</div>
                                <div class="social-meta">
                                    <ul>
                                        <li><i class="fa fa-thumbs-up"></i>254</li>
                                        <li><i class="fa fa-comments"></i>300</li>
                                    </ul>
                                </div>
                                <div class="social-user"><a href="#"><i class="fa fa-user"></i>User Name</a></div>
                                <div class="social-details">
                                    <a href="#">Posted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="facebook"></a>
                            </div>
                        </div>

                        <div class="social-block social-twitter">
                            <div class="inner">
                                <div class="social-thumb">
                                    <a href="#" class="thumb"><img src="http://placehold.it/80x80&text=icon" alt=""></a>
                                    <div class="social-user">
                                        <a href="#"><strong>User Name</strong><br>@@username</a>
                                    </div>
                                </div>
                                <div class="social-text">Want to win a free laptop? Register for classes by Friday, Jan. 10 and be entered into our drawing! Contact your advisor for more details. <a href="#">pic.twitter.com/byjkECBtl4</a></div>
                                <div class="social-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i>Retweet</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i>Favorite</a></li>
                                    </ul>
                                </div>
                                <div class="social-details">
                                    <a href="#">Tweeted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="twitter"></a>
                            </div>
                        </div>

                        <div class="social-block social-twitter">
                            <a href="#" class="social-media" target="_blank"><img src="http://placehold.it/298x150&text=placeholder" alt="placeholder"></a>
                            <div class="inner">
                                <div class="social-thumb">
                                    <a href="#" class="thumb"><img src="http://placehold.it/80x80&text=icon" alt=""></a>
                                    <div class="social-user">
                                        <a href="#"><strong>User Name</strong><br>@@username</a>
                                    </div>
                                </div>
                                <div class="social-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ex harum inventore neque sequi, suscipit. <a href="#">pic.twitter.com/byjkECBtl4</a> <a href="#">#hashtag</a> <a href="#">#loremipsum</a></div>
                                <div class="social-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i>Retweet</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i>Favorite</a></li>
                                    </ul>
                                </div>
                                <div class="social-details">
                                    <a href="#">Tweeted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="twitter"></a>
                            </div>
                        </div>

                        <div class="social-block social-youtube">
                            <a href="#" class="social-media" target="_blank"><img src="http://placehold.it/298x200&text=placeholder" alt="placeholder"></a>
                            <div class="inner">
                                <div class="social-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at beatae, blanditiis</div>
                                <div class="social-meta">
                                    <ul>
                                        <li><i class="fa fa-eye"></i>5,147</li>
                                    </ul>
                                </div>
                                <div class="social-user"><a href="#"><i class="fa fa-user"></i>User Name</a></div>
                                <div class="social-details">
                                    <a href="#">Posted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="rss"></a>
                            </div>
                        </div>

                        <div class="social-block social-youtube">
                            <a href="#" class="social-media" target="_blank"><img src="http://placehold.it/298x200&text=placeholder" alt="placeholder"></a>
                            <div class="inner">
                                <div class="social-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at beatae, blanditiis</div>
                                <div class="social-meta">
                                    <ul>
                                        <li><i class="fa fa-eye"></i>5,147</li>
                                    </ul>
                                </div>
                                <div class="social-user"><a href="#"><i class="fa fa-user"></i>User Name</a></div>
                                <div class="social-details">
                                    <a href="#">Posted</a> <span>XX hrs ago</span>
                                </div>
                                <a href="#" class="social-icon" title="rss"></a>
                            </div>
                        </div>

                    </section>
                    <!-- /social-stream -->
                </div>

            </div>
            <div class="col-sm-12 visible-xs">
                <a href="#" class="btn btn-lg btn-primary">View All <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</section>