<div class="donation-message">
	<div class="row">
	    <h1>DONATION</h1>
	    <h3>100% OF YOUR GIFT FUNDS BRAIN CANCER RESEARCH.</h3>
	        <p>
	          We choose to deliver 100% of individual donations to brain cancer research. This 100% promise is made possible through strategic partnerships with entities who support the mission of 3000 Miles to a Cure. These partners deliver in-kind donations and fund specific needs within 3000 Miles to a Cure's operational budget including advertising, administrative costs, event hosting costs and transaction fees.
	        </p>
	 </div>
	 <div class="row">
	 	<h1>Every Dollar Counts</h1>
	 	<p>
	 		Every dollar you donate will cover the cost of analyzing 10 genes. Each genome consists of about 20,000 genes. With enough data, we can crack the code.
	 	</p>
	 </div>
	 <div class="row">
	 	<h1> Other Ways to Give</h1>
	 	<p>
	 		<b>Donate by mail.</b><br/>
			Mail your donations and completed <a href="/form.pdf">form</a> to:<br/><br/>
 
			3000 Miles to a Cure<br/>
			104 Red Oak Ct.<br/>
			Lumberton, NC 28358<br/>
 
	 	</p>
	 	<b>Become a partner.</b></br>
		To invest in our mission as an operational partner,
		email Charlie Mulligan at <a href="charlie@3000milestoacure.com">charlie@3000milestoacure.com</a>.
	 </div>
	 <div class="row">
	 	<h1>Our Events</h1>
	 	<p>
	 		<a href="/events/">Race Sebring / Feb 2015</a><br/>
	 		<a href="/events/">Race Across America / June 2015</a>

	 		<a href="/events" class="btn btn-default">View All Events</a>
	 	</p>
	 </div>
	<div class="row">
		<h1>DONATION INFORMATION</h1>
	 	<span class="required">*</span> Select donation amount:<br/>
	 	<div role="group">
	 		<input type="radio" value="$25" name="amount" ng-model="donationModel.DonationAmount" />$25
	 		<input type="radio" value="$50" name="amount" ng-model="donationModel.DonationAmount" />$50
	 		<input type="radio" value="$75" name="amount" ng-model="donationModel.DonationAmount" />$75
	 		<input type="radio" value="$100" name="amount" ng-model="donationModel.DonationAmount" />$100
	 		<input type="radio" value="other" name="amount" ng-model="donationModel.DonationAmount" />Other
	 	</div>
	 	
		<span class="required">*</span> Donation type:<br/>
		<input type="radio" value="one-time" name="type" ng-model="donationModel.DonationAmountType" />One-time donation<br/>
		<input type="radio" value="monthly-recurring-donation" name="type" ng-model="donationModel.DonationAmountType" />Monthly recurring donation

	</div>
	<div class="row">
		<h1>BILLING INFORMATION</h1>
	 	<span class="required">*</span> First Name:<br/>
	 	<input type="text" class="form-control" placeholder="Enter First Name" required name="first-name" ng-model="donationModel.FirstName" />
	 	<span class="required">*</span> Last Name:<br/>
	 	<input type="text" class="form-control" placeholder="Enter Last Name" required name="last-name" ng-model="donationModel.LastName" />
	 	<span class="required">*</span> Street Address 1:<br/>
	 	<input type="text" class="form-control" placeholder="Enter Street Address 1" required name="address1" ng-model="donationModel.Address1" />
	 	Street Address 2:<br/>
	 	<input type="text" class="form-control" placeholder="Enter Street Address 2" name="address2" ng-model="donationModel.Address2" />
	 	<span class="required">*</span> City:<br/>
	 	<input type="text" class="form-control" placeholder="Enter City" required name="city" ng-model="donationModel.City" />
	 	<span class="required">*</span> State:<br/>
	 	<select required name="state" ng-model="donationModel.State">
	 		<option value="">Please Select</option>
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>
			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>
			<option value="DC">District Of Columbia</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>
			<option value="IN">Indiana</option>
			<option value="IA">Iowa</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="ME">Maine</option>
			<option value="MD">Maryland</option>
			<option value="MA">Massachusetts</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MS">Mississippi</option>
			<option value="MO">Missouri</option>
			<option value="MT">Montana</option>
			<option value="NE">Nebraska</option>
			<option value="NV">Nevada</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>
			<option value="NY">New York</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>
			<option value="PA">Pennsylvania</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>
			<option value="UT">Utah</option>
			<option value="VT">Vermont</option>
			<option value="VA">Virginia</option>
			<option value="WA">Washington</option>
			<option value="WV">West Virginia</option>
			<option value="WI">Wisconsin</option>
			<option value="WY">Wyoming</option>
	 	</select>
	 	<span class="required">*</span> ZIP/Postal code:<br/>
	 	<input type="text" class="form-control" placeholder="Enter Zip" required name="zipcode" ng-model="donationModel.Zipcode" />
	 	<span class="required">*</span> Email:<br/>
	 	<input type="email" class="form-control" placeholder="Enter Email" required name="email" ng-model="donationModel.Email" />
	 	
	</div>
	<div class="row">
		<h1>PAYMENT INFORMATION</h1>
	 	<span class="required">*</span> Credit Card Number:<br/>
	 	<input type="text" class="form-control" placeholder="Enter Credit Card" required name="cc-number" ng-model="donationModel.CCNumber" />
	 	<span class="required">*</span> Expiration Date:<br/>
	 	<select required name="cc-exp-month" ng-model="donationModel.CCExpMonth">
	 		<option value="">Select Month</option>
			<option value="01">January</option>
			<option value="02">February</option>
			<option value="03">March</option>
			<option value="04">April</option>
			<option value="05">May</option>
			<option value="06">June</option>
			<option value="07">July</option>
			<option value="08">August</option>
			<option value="09">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
		<select required name="cc-exp-year" ng-model="donationModel.CCExpYear">
	 		<option value="">Select Year</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
		</select>
		<span class="required">*</span> CVV Number:<br/>
		<input type="text" class="form-control" placeholder="Enter CVV" required name="cvv" ng-model="donationModel.CCCVV" />
		<a href="#">What's This</a>
	 </div>
	 <div class="row">
	 	<p>Paypal integration disclaimer...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
	 	<a class="btn btn-primary" ng-click="proceedToDonate()">Donate Now</a> 
	 </div>
</div>